In [9]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [10]:
all_data = pd.read_csv('../data/all_data.csv')

In [11]:
all_data.head(3)

,id,region,year,manufacturer,condition,cylinders,fuel,odometer,title_status,transmission,drive,size,type,paint_color,state,price
0,0,nashville,1949,bmw,excellent,6 cylinders,gas,115148,clean,manual,rwd,mid-size,convertible,orange,NaN,27587.0
1,1,state college,2013,toyota,fair,8 cylinders,gas,172038,clean,automatic,rwd,full-size,sedan,silver,pa,4724.0
2,2,wichita,1998,ford,good,6 cylinders,gas,152492,clean,automatic,fwd,full-size,SUV,silver,ks,10931.0

In [12]:
# 'fuel' の欠損値を 'gas' で埋める
all_data['fuel'].fillna('gas', inplace=True)

all_data['title_status'].fillna('clean', inplace=True)

all_data['type'].fillna('sedan', inplace=True)

all_data['state'].fillna('ca', inplace=True)

In [13]:
# LabelEncoderのインスタンスを作成
label_encoder = LabelEncoder()

# カテゴリ変数のリスト
columns_to_encode = ['region', 'manufacturer', 'condition', 'cylinders', 'fuel', 'title_status', 'transmission', 'drive', 'size', 'type', 'paint_color', 'state']

# 各カテゴリ変数をラベルエンコーディング
label_encoders = {}  # 各カテゴリ変数のエンコーダを保存するための辞書
for column in columns_to_encode:
    le = LabelEncoder()
    all_data[column] = le.fit_transform(all_data[column].astype(str))
    label_encoders[column] = le

In [16]:
print(all_data.columns)
all_data.head(3)

Index(['id', 'region', 'year', 'manufacturer', 'condition', 'cylinders',
       'fuel', 'odometer', 'title_status', 'transmission', 'drive', 'size',
       'type', 'paint_color', 'state', 'price'],
      dtype='object')

,id,region,year,manufacturer,condition,cylinders,fuel,odometer,title_status,transmission,drive,size,type,paint_color,state,price
0,0,215,1949,39,0,5,2,115148,0,1,2,4,2,6,4,27587.0
1,1,321,2013,72,1,6,2,172038,0,0,2,1,9,9,38,4724.0
2,2,358,1998,46,2,5,2,152492,0,0,1,1,0,9,16,10931.0

In [15]:
# all_data.to_csv('../data_processed/all_data.csv', index=False)